aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
attrs==25.4.0
ffmpeg-python==0.2.0
frozenlist==1.8.0
future==1.0.0
idna==3.11
multidict==6.7.0
nodejs-wheel==24.12.0
nodejs-wheel-binaries==24.12.0
numpy==2.3.5
pandas==2.3.3
propcache==0.4.1
PySide6==6.10.1
PySide6_Addons==6.10.1
PySide6_Essentials==6.10.1
python-dateutil==2.9.0.post0
pytubefix==10.3.6
pytz==2025.2
shiboken6==6.10.1
six==1.17.0
tzdata==2025.3
yarl==1.22.0
